@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Lexend:wght@100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    box-sizing: inherit;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
	color: #000;
	font-family: Arial, sans-serif;
	background-color: rgb(239, 255, 255);
    overflow-x: hidden;
    overflow-y: auto;
}

a {
    cursor: pointer;    
    text-decoration: none;
}

.header {
  width: 100%;
  height: auto;
  background-color: #FFFFFF;
  box-shadow: #00000030 0px 10px 10px;
  position: relative;
  z-index: 999;
}

.burger {
  display: none;
  font-size: 1.5em;
  padding: 1em;
  cursor: pointer;
}

.inner-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  transition: max-height 0.3s ease;
}

.inner-header h2 {
  color: black;
  font-family: Lexend;
  font-size: 1.5em;
  font-weight: 600;
  padding: 1.5em;
  transition: 0.3s;
}

.nav-link {
  text-decoration: none;
  color: inherit;
}

.inner-header :hover {
  color: rgb(31, 155, 212);
  transition: 0.3s;
  user-select: none;
}

/* Responsive part */
@media screen and (max-width: 768px) {
  .burger {
    display: block;
  }

  .inner-header {
    flex-direction: column;
    align-items: flex-start;
    max-height: 0;
    overflow: hidden;
    width: 100%;
    background-color: #fff;
  }

  .inner-header.active {
    max-height: 500px; /* ajustable selon le contenu */
    padding-bottom: 1em;
  }

  .inner-header h2 {
    padding: 0.5em 1em;
    width: 100%;
    text-align: left;
    font-size: 1.2em;
  }
}



.main-big-title-section {
    width: 100%;
    margin-top: 5em;
    margin-bottom: 5em;
}


#main-big-title {
    font-size: 3em;
    font-weight: 400;
    font-family: DM Serif Text;
    color: #000000;
    text-align: center;
    animation-duration: 1s;
    animation-name: main-big-title-init;
}


@media screen and (max-width: 768px) {
  #main-big-title {
    font-size: 2em;
    padding: 0 1em;
  }

  .main-big-title-section {
    margin-top: 3em;
    margin-bottom: 3em;
  }
}

@media screen and (max-width: 480px) {
  #main-big-title {
    font-size: 1.5em;
    line-height: 1.4em;
  }
}



.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2em;
    padding-left: 7em;
    padding-right: 7em;
}

.section-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    box-shadow: #0000003f 0px 0px 10px;
    border-radius: 10px;
    padding: 2em;
}

.center-container {
    margin: 0 auto;
    justify-content: space-evenly;
    text-align: left;
}

.center-container .section-block {
    border-top: 7px solid #2980b9;
}

.left-container {
    margin-left: 0;
    justify-content: flex-start;
    flex-direction: row;
    text-align: left;
    gap: 5em;
}

.left-container .section-block {
    border-left: 7px solid #2980b9;
}

.right-container {
    margin-right: 0;
    justify-content: flex-start;
    flex-direction: row-reverse;
    text-align: right;
    gap: 5em;
}

.right-container .section-block {
    border-right: 7px solid #2980b9;
}

.section-block h2 {
    font-size: 2em;
    color: rgb(14, 39, 182);
    padding-bottom: 5E-1em;
    font-family: Lexend;
}

.section-block h3 {
    font-size: 1em;
    font-family: Outfit;
    color: rgb(14, 129, 182);
    padding-bottom: 5E-1em;
    border-bottom: 2px solid #2980b9;
}

.section-block p {
    font-size: 1em;
    font-family: Poppins;
    font-weight: 500;
    padding-top: 15E-1em;
    color: rgb(4, 0, 44);
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column !important;
    align-items: center;
    padding: 1em;
  }

  .left-container,
  .right-container,
  .center-container {
    justify-content: center !important;
    text-align: center !important;
    gap: 2em;
  }

  .section-block {
    width: 100%;
    padding: 1.5em;
    box-sizing: border-box;
    text-align: left;
  }

  .left-container .section-block,
  .right-container .section-block,
  .center-container .section-block {
    border: none;
    border-top: 5px solid #2980b9;
  }

  .right-container section:last-child img {
    width: 100%;
    height: auto;
  }

  .right-container {
    flex-direction: column !important;
  }
}



@keyframes main-big-title-init {
from {
    transform:translateY(50px);
    opacity: 0;
}

to {
    opacity: 1;
    transform:translateY(0px);
}
}

.animated-hr {
    border: none;
    height: 2px;
    background-image: repeating-linear-gradient(
        to right,
        #2980b9 0,
        #2980b9 10px,
        transparent 10px,
        transparent 20px
    );
    background-size: 40px 2px;
    animation: move-dashes 1s linear infinite;
}

.left-aligned {
    margin-left: 2em;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

.right-aligned {
    margin-left: auto;
    margin-right: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.center-aligned {
    margin: 2em auto;
}

@keyframes move-dashes {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 40px 0;
    }
}


.title-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    padding: 2em;
}


.title-block h2 {
    font-size: 2em;
    color: rgb(14, 39, 182);
    padding-bottom: 5E-1em;
    font-family: Lexend;
    font-weight: 600;
}

.title-block h3 {
    font-size: 1em;
    font-family: Outfit;
    color: rgb(14, 129, 182);
    padding-bottom: 5E-1em;
    border-bottom: 2px solid #2980b9;
}

.title-block p {
    font-size: 1em;
    font-family: Poppins;
    font-weight: 500;
    padding-top: 15E-1em;
    color: rgb(4, 0, 44);
}

.project-container-title {
    font-size: 15E-1em;
    font-family: Lexend;
    font-weight: 400;
    color: #0e27b6;
    text-align: center;
    margin: 2em;
    padding: 10px;
    border-bottom: 2px solid #2980b9;
}


.project-section {
    padding: 2em;
    background-color: rgb(203, 239, 255)
}

.project-section h2 {
    font-size: 2em;
    font-family: Lexend;
    color: #0e27b6;
    margin-bottom: 1em;
    text-align: center;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
}

.project-card {
    background-color: white;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px #00000020;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s;
}

.project-card:hover {
    transform: translateY(-5px);
}

.project-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.project-card h3 {
    font-size: 1.2em;
    margin: 1em;
    color: #0e27b6;
    font-family: Outfit;
}

.project-card p {
    margin: 0 1em 1em;
    font-family: Poppins;
    font-size: 0.95em;
    color: #2c3e50;
}

.project-card a {
    margin: 0 1em 1em;
    align-self: flex-start;
    color: #2980b9;
    font-weight: bold;
    text-decoration: none;
    font-family: Poppins;
}

.tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    margin: 1em 1em 0 1em;
}

.tag {
    font-size: 0.75em;
    font-family: Poppins;
    font-weight: 600;
    padding: 0.3em 0.6em;
    border-radius: 20px;
    white-space: nowrap;
}

.blue-tag {
    background-color: #e0f7ff;
    color: #2980b9;
}

.red-tag {
    background-color: #ffe0e0;
    color: #b22222;
}

.purple-tag {
    background-color: #f3e5f5;
    color: #6a1b9a;
}

.orange-tag {
    background-color: #fff3e0;
    color: #e65100;
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
    z-index: 1000;
}

.modal.show {
    opacity: 1;
    pointer-events: auto;
}

.modal-content {
    background-color: white;
    padding: 2em;
    border-radius: 10px;
    width: 85%;
    height: 85%;
    box-shadow: 0 0 20px #00000066;
    position: relative;
    transform: translateY(20px);
    transition: transform 0.4s ease;
    overflow-y: auto;
}

.modal-content img.banner {
    margin-top: 1em;
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.modal-content img {
    margin-top: 2em;
    margin-bottom: 1em;
    border-radius: 10px;
}

.modal.show .modal-content {
    transform: translateY(0);
}

body.modal-open {
    overflow: hidden;
}


.close-btn {
    position: absolute;
    top: 0.8em;
    right: 1em;
    font-size: 1.5em;
    cursor: pointer;
    color: #888;
    padding-left: 0.4em;
    padding-right: 0.4em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    border-radius: 50%; /* Cercle */
    transition: background-color 0.3s, color 0.3s;
}

.close-btn:hover {
    background-color: rgba(200, 200, 200, 0.3); /* effet surbrillance */
    color: #000;
}


.modal-content h2 {
    font-size: 2em;
    color: rgb(14, 39, 182);
    padding-bottom: 5E-1em;
    font-family: Lexend;
}

.modal-content h3 {
    font-size: 1em;
    font-family: Outfit;
    color: rgb(14, 129, 182);
    padding-bottom: 5E-1em;
    border-bottom: 2px solid #2980b9;
}

.modal-content h4 {
    font-size: 15E-1em;
    font-family: Poppins;
    font-weight: 800;
    color: #000;
    padding-top: 1em;
    padding-bottom: 5E-1em;
}

.modal-content p {
    font-size: 1em;
    font-family: Poppins;
    font-weight: 500;
    margin-top: 15E-1em;
    color: rgb(4, 0, 44);
}

.modal-content p.link {
    font-size: 1em;
    font-family: Poppins;
    font-weight: 500;
    color: #000;
    background-color: rgb(239, 239, 238);
    display: inline-block;
    padding: 1em;
    border-radius: 10px;
    color: rgb(4, 0, 44);
}

.modal-content p.link a {
    color:#4c4c4c;
    font-weight: 800;
    text-decoration: none;
}
.modal-content .tag-list {
    font-size: 12E-1em;
}


.skills-section {
    padding: 4em;
}

.skills-container {
    display: flex;
    justify-content: space-between;
    gap: 2em;
    flex-wrap: wrap;
    margin-top: 1.5em;
	margin-bottom: 2em;
}

.skills-block {
    flex: 1 1 300px;
    background-color: #ffffff;
    padding: 1.5em;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.skills-block h3 {
    font-size: 15E-1em;
    font-family: Outfit;
    color: rgb(14, 129, 182);
    padding-bottom: 5E-1em;
    border-bottom: 2px solid #2980b9;
    margin-bottom: 1em;
}

.skills-block ul {
    list-style: none;
    padding: 0;
}

.skills-block ul li {
    display: block;
    width: fit-content;
    padding: 0.5em 1em;
    margin: 1em 0;
    color: #4c4c4c;
    background-color: rgb(239, 239, 238);
    border-radius: 20px;
    font-family: Poppins;
    font-weight: 700;
    transition: 0.3s ease;
}

.skills-block ul li:hover {
    color: white;
    background-color: rgb(14, 129, 182);
    transition: 0.3s ease;
    cursor: default;
    transform:translateX(5px);
}


.contact-section {
    padding: 4em;
    text-align: center;
}


.contact-container {
    display: flex;
    justify-content: center;
    gap: 2em;
    flex-wrap: wrap;
}

.contact-block {
    background-color: white;
    padding: 1.5em;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    flex: 1 1 250px;
    max-width: 500px;
    transition: 0.3s ease;
}

.contact-block:hover {
    box-shadow: 0 6px 16px rgba(0,0,0,0.2);
    transform: translateY(-5px);
    transition: 0.3s ease;
    cursor: pointer;
}

.contact-block i {
    font-size: 1.5em;
    color: #2980b9;
    margin-bottom: 0.5em;
}

.contact-block h3 {
    font-size: 1.2em;
    margin-bottom: 0.5em;
    color: #0e81b6;
    font-family: Outfit;
}

.contact-block p {
    font-family: Poppins;
    color: #333;
    font-weight: 500;
}

.contact-block a {
    text-decoration: none;
    color: #2980b9;
    font-weight: 600;
}


.degree-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2em;
    padding: 2em;
}

.degree-separator {
    flex: 1 1 45%; /* chaque bloc prendra environ 45% de la largeur */
    min-width: 300px; /* assure une bonne largeur minimale en responsive */
}


.timeline-section {
  padding: 4em 2em;
  text-align: center;
}

.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.timeline-item {
  position: relative;
  margin-bottom: 2em;
}

.arrow {
  font-size: 2em;
  color: #2980b9;
  margin: 0.5em 0;
}


.content-block {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  text-align: left;
}

.timeline-degree-info {
    padding: 1.5em;
}

.content-block h3 {
  margin: 0;
  color: #2980b9;
  font-family: Outfit;
  font-size: 1.2em;
}

.content-block p {
  margin-top: 0.5em;
  color: #333;
  font-family: Poppins;
}

.content-block li {
  margin-top: 0.5em;
  color: #333;
  font-family: Poppins;
}


.content-block img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 1em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


/* Responsive */
@media screen and (max-width: 600px) {
  .content-block {
    width: 90%;
  }
}


#copy-notification {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #2ecc71;
  color: white;
  padding: 1em 2em;
  border-radius: 8px;
  font-family: Poppins, sans-serif;
  font-size: 0.9em;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 1000;
}
.skill-bar-row {
    margin: 0.8em 0;
}

.skill-bar-label {
    display: flex;
    justify-content: space-between;
    font-family: Poppins;
    font-size: 0.85em;
    font-weight: 700;
    color: #4c4c4c;
    margin-bottom: 0.4em;
}

.skill-bar-level {
    font-size: 0.75em;
    color: #2980b9;
    font-weight: 600;
}

.skill-bar-track {
    height: 8px;
    background-color: rgb(239, 239, 238);
    border-radius: 20px;
    overflow: hidden;
}

.skill-bar-fill {
    height: 100%;
    background-color: rgb(14, 129, 182);
    border-radius: 20px;
    transition: width 1s ease;
}
.hard-skills {
    margin-bottom: 2em;
}
#copy-notification.show {
  opacity: 1;
}
